---
layout: default
---
<!-- <div class="splitter">
    <p class="intro">Welcome to Boldly Goes.<br>Harvey, Sam and James; three budding adventurers bring you tales from their slightly haphazard forays into the wilder corners of Britain and further afield.</p>
</div> -->

<!-- <div class="faces-lockup"> 
        <a class="faces james" href="https://www.instagram.com/j.s.b.1990/"></a>
        <a class="faces sam" href="https://www.instagram.com/scs_h/"></a>
        <a class="faces harvey" href="https://www.instagram.com/harvey.rae/"></a>
</div> -->

<script src="{{ site.github.url | prepend: site.baseurl }}/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/js/tiles.js"></script>
<!-- <h3>Our most recent posts</h3> -->
<div class="tile-wrap no-touch">
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/GR-20"><img src="{{ site.github.url }}/media/img/tiles/tile-gr20.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/GR-20">HIKING THE GR20</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/wild-teas"><img src="{{ site.github.url }}/media/img/tiles/tile-wildteas.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/wild-teas">A WILD TEA TASTING SESSION</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/24-peak-district"><img src="{{ site.github.url }}/media/img/tiles/tile-peakdistrict.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/24-peak-district">24 HOURS IN THE PEAK DISTRICT: SUMMER SOLSTICE CAMP</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/going-ultralight-2"><img src="{{ site.github.url }}/media/img/tiles/tile-ultralight2.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/going-ultralight-2">GOING ULTRALIGHT PART 2: REFINING THE ESSENTIAL</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/black-sail"><img src="{{ site.github.url }}/media/img/tiles/tile-blacksail.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/black-sail">THE LAKE DISTRICT: WILD CAMPING AND BLACK SAIL</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/24-wicklow"><img src="{{ site.github.url }}/media/img/tiles/tile-wicklow.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/24-wicklow">24 HOURS IN THE WICKLOW MOUNTAINS</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/os-app-review"><img src="{{ site.github.url }}/media/img/tiles/tile-osapp.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/os-app-review">OS MAPS APP REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/mark-beaumont-interview"><img src="{{ site.github.url }}/media/img/tiles/tile-beaumont.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/mark-beaumont-interview">Q&A WITH MARK BEAUMONT</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/kielder-observatory"><img src="{{ site.github.url }}/media/img/tiles/tile-kielder.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/kielder-observatory">KIELDER OBSERVATORY AND SKYSPACE</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/compact-ultra-twins"><img src="{{ site.github.url }}/media/img/tiles/tile-twins.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/compact-ultra-twins">ALPKIT COMPACT ULTRA TWINS REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/borough-bivvy-bagging"><img src="{{ site.github.url }}/media/img/tiles/tile-borough.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/borough-bivvy-bagging">BOROUGH BIVVY BAGGING</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/wild-camping-dartmoor"><img src="{{ site.github.url }}/media/img/tiles/tile-48dartmoor.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/wild-camping-dartmoor">WILD CAMPING IN DARTMOOR</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/trangia-28t-review"><img src="{{ site.github.url }}/media/img/tiles/tile-28t.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/trangia-28t-review">TRANGIA 28-T REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/sparrow-review"><img src="{{ site.github.url }}/media/img/tiles/tile-sparrow.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/sparrow-review">WISPORT SPARROW 20 LITRE BACKPACK REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/alone-in-the-wilderness"><img src="{{ site.github.url }}/media/img/tiles/tile-alone.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/alone-in-the-wilderness">ALONE IN THE WILDERNESS BY JOSEPH KNOWLES</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/ups-and-downs"><img src="{{ site.github.url }}/media/img/tiles/tile-ups.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/ups-and-downs">CYCLING LONDON TO SCOTLAND: UPS AND DOWNS</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/delta-gtx-review"><img src="{{ site.github.url }}/media/img/tiles/tile-deltagtx.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/delta-gtx-review">SCARPA DELTA GTX ACTIV REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/going-ultralight-1"><img src="{{ site.github.url }}/media/img/tiles/tile-ultralight1.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/going-ultralight-1">GOING ULTRALIGHT PART 1: REPACKING</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/sunix-review"><img src="{{ site.github.url }}/media/img/tiles/tile-sunix.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/sunix-review">SUNIX 120 HEADTORCH REVIEW</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/how-to-camp-out"><img src="{{ site.github.url }}/media/img/tiles/tile-march2017.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/how-to-camp-out">HOW TO CAMP OUT BY JOHN M GOULD</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/hot-tenting"><img src="{{ site.github.url }}/media/img/tiles/tile-hot.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/hot-tenting">HOT TENT CAMPING ON A SHOESTRING</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/beer-fire-and-power-tools"><img src="{{ site.github.url }}/media/img/tiles/tile-beer.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/beer-fire-and-power-tools">BEER, FIRE AND POWER TOOLS</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/soloventures"><img src="{{ site.github.url }}/media/img/tiles/tile-solovent.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/soloventures">SOLOVENTURING: TAKING ON YOUR FIRST SOLO TRIP</a></div>
    </div>
  </div>
  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/24-newforest"><img src="{{ site.github.url }}/media/img/tiles/tile-newf.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/24-newforest">24 HOURS IN THE NEW FOREST</a></div>
    </div>
  </div>

  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/cycling-scotland"><img src="{{ site.github.url }}/media/img/tiles/tile-edstor.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/cycling-scotland">PHOTO STORY: EDINBURGH TO STORNORWAY</a></div>
    </div>
  </div>

  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/reviews/gossamer-review"><img src="{{ site.github.url }}/media/img/tiles/tile-gossamer.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/reviews/gossamer-review">GOSSAMER 1 REVIEW</a></div>
    </div>
  </div>

  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/overnight-kit"><img src="{{ site.github.url }}/media/img/tiles/tile-overnight.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/overnight-kit">JAMES' OVERNIGHT BAG</a></div>
    </div>
  </div>

  <div class="tile">
    <div class="boxInner">
      <a href="{{ site.github.url }}/features/24-norfolk"><img src="{{ site.github.url }}/media/img/tiles/tile-norfolk.jpg" /></a>
      <div class="titleBox"><a href="{{ site.github.url }}/features/24-norfolk">24 HOURS ON THE NORFOLK COAST</a></div>
    </div>
  </div>
</div>

<!--
<asi
<div class="body-lockup ">
    <div class="first-line">
        <div class="top-left" style="background-image:url({{ site.github.url }}/media/img/overnight_kit.jpg);">
            <div class="overlay">
                <a href="{{ site.github.url }}/features/overnight-kit">JAMES' OVERNIGHT BAG</a>
            </div>
            <!-- <a href="{{ site.github.url }}/articles" class="pic-link wc" >24-hours in Norfolk</a> 
        </div>
        <div class="top-right" style="background-image:url({{ site.github.url }}/media/img/norfolk.jpg);">
            <div class="overlay">
                <a href="{{ site.github.url }}/features/24-norfolk">24 HOURS: ON THE NORFOLK COAST</a>
            </div>
            <!-- <a href="{{ site.github.url }}/articles" class=" pic-link nf" >24-hours in the New Forest</a> 
        </div>
    </div>
    <div class="second-line">
        <div class="bot-left" style="background-image:url({{ site.github.url }}/media/img/edstor/album1.jpg);">
            <div class="overlay">
                <a href="{{ site.github.url }}/features/cycling-scotland">PHOTO STORY: EDINBURGH TO STORNORWAY</a>
            </div>
        </div>
        <div class="bot-right" style="background-image:url({{ site.github.url }}/media/img/gossamer/cover.jpg);">
            <div class="overlay">
                <a href="{{ site.github.url }}/reviews/gossamer-review">GOSSAMER 1 REVIEW</a>
            </div>
        </div>
    </div>
    <div class="third-line">
        <div class="left hover"></div>
        <div class="right-third hover"></div>
    </div> 
</div>
-->

<div id="content" class="content">
    <h3>Recent Posts</h3>
    <ul class="category recent-posts">       
        {% for post in site.posts limit:5  %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>


    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
    {% assign sorted_posts = category[1] | reversed %}
    <h3 id="{{category[0] | uri_escape | downcase | slugify }}">{{category[0] | camelcase }}</h3>
    <ul class="category {{category[0] | uri_escape | downcase | slugify}}">  
        {% for post in sorted_posts %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl }}" title="{{ title }}">{{ title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
    {% endfor %}



</div>